
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
</div>
<form class="form-group" method="post">
    <br />
    @Html.Label("Yetenek Başlığı")
    <input type="text" name="title" class="form-control"/>
    <br />
    <label>Değer</label>
    <input type="text" name="value" class="form-control"/>
    <br />
    <button name="kaydet" class="btn btn-primary">Kaydet</button>
</form>

